<% include ../partials/header %>
<% include ../partials/menu %>
<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h1>Ultimos Libros</h1>
        </div>
        <div class="col-xs-4 text-right">
            <a href="/book/formnew" class=" btn btn-info">Agregar</a>
        </div>
    </div>
    
    <div class="row">
        <% books.forEach(function(book){%>
        <div class="col-xs-10 col-sm-6 col-md-4">
            <div class="card">
                <h3><a href="/book/<%= book.id %>"><%= book.title %></a></h3>
                <p><%= book.description %></p>
                <p><%= book.publishedAd %></p>
                <div class="actions">
                    <a href="/book/<%= book.id %>/edit" style="margin-right: 1em">Editar</a>
                    <a href="/book/<%= book.id %>/delete" style="margin-right: 1em" class="text-danger">Eliminar</a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>  
</div>